body {
  font: 14px/1.5 'Helvetica Neue',Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
  color: #333;
}
body,p,ul,ol,dl,dt {
  margin: 0;
  padding: 0;
}
ul,ol {
  list-style: none;
}
input {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
/* 小米顶部样式start */
.topBar {
  width: 100%;
  height: 40px;
  background-color: #333;
}
.container {
  width: 1226px;
  height: 100%;
  margin: 0 auto;
}
.topBar .topBar_list {
  float: left;
}
.topBar .shop {
  float: right;
  width: 120px;
  margin-left: 15px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #424242;
}
.topBar .login {
  float: right;
}
.topBar a{
  color: #b0b0b0;
  font-size: 12px;
  display: inline-block;
  line-height: 40px;
}
.topBar .shop a {
  width: 120px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
}
.topBar a:hover {
  color: #f4f4f4;
}
.topBar span {
  color: #424242;
  margin: 0 .5em;
  cursor: default;
}
/* 小米顶部end */
/* 小米导航栏start */
.header {
  height: 100px;
}
.header .site_logo {
  float: left;
  width: 62px;
  margin-top: 22px;
}
.header .site_logo a {
  display: block;
  width: 56px;
  height: 56px;
}
.header .site_logo img {
  width: 56px;
  height: 56px;
  background-color: #ff7e00;
}
.header .site_list {
  float: left;
  width: 850px;
}
.header .site_list>ul {
  width: 820px;
  height: 88px;
  padding: 12px 0 0 30px;
  font-size: 16px;
}
.header .site_list>ul>li {
  float: left;
}
.header .site_list>ul>li>a {
  display: block;
  padding: 26px 10px 38px;
  color: #333;
}
.header .site_list>ul>li>a:hover {
  color: #ff6700;
}
.header .site_list>ul>li.site_category>a {
  padding: 0;
  margin-right: 95px;
  margin-top: 6px;
}
/* category_list的父元素 */
.header .site_list>ul>li.site_category {
  position: relative;
  z-index: 2;
}
/* category_list */
.header .site_list>ul>li.site_category .category_list {
  position: absolute;
  top: 88px;
  left: -92px;
  width: 234px;
  height: 460px;
  background-color: rgba(0, 0, 0, 0.5);
}
.category_list>ul {
  width: 234px;
  height: 420px;
  padding: 20px 0;
}
.category_list>ul>li {
  height: 42px;
}
.category_list>ul>li>a {
  padding-left: 30px;
  display: block;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  color: #fff;
  position: relative;
}
.category_list>ul>li>a:hover {
  background-color: #ff7600;
}
.category_list>ul>li>a>span {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 16px;
  line-height: 16px;
}
.header .site_search {
  float: right;
  width: 296px;
  margin-top: 25px;
}
.header .site_search form {
  position: relative;
  width: 296px;
  height: 50px;
}
.header .site_search form .search_text {
  width: 223px;
  height: 48px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  padding: 0 10px;
  float: left;
}
.header .site_search form .search_btn {
  width: 50px;
  height: 50px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  float: left;
  margin-left: -1px;
}
.header .site_search form .search_word {
  position: absolute;
  font-size: 12px;
  top: 14px;
  right: 65px;
}
.header .site_search form .search_word a {
  display: inline-block;
  margin-left: 5px;
  padding: 0 5px;
  background-color: #eee;
  color: #7575575;
}
.header .site_search form .search_word a:hover {
  background-color: #ff6700;
  color: #fff;
}
/* 小米导航栏end */
/* 小米站点内容start */
.site_content .site_slider {
  position: relative;
  height: 461px;
}
.site_content .site_slider>a {
  display: block;
  width: 1226px;
  height: 460px;
  position: absolute;
  top: 0;
  left: 0;
}
.site_content .site_slider>a>img {
  width: 1226px;
}
.site_content .site_slider>span {
  position: absolute;
  width: 41px;
  height: 69px;
  background: url(../images/icon-slides.png) no-repeat;
  top: 50%;
  margin-top: -35px;
  cursor: pointer;
}
.site_content .site_slider>span.prev {
  background-position: -83px 0px;
  left: 234px;
}
.site_content .site_slider>span.prev:hover {
  background-position: 0 0;
}
.site_content .site_slider>span.next {
  background-position: -123px 0;
  right: 0;
}
.site_content .site_slider>span.next:hover {
  background-position: -41px 0;
}
.site_content .slider_item {
  position: absolute;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  bottom: 20px;
  right: 40px;
}
.slider_item>a {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: rgba(255,255,255,.7);
  margin: 0 5px;
  border-radius: 6px;
  border: 2px solid #fff;
  border-color: rgba(255, 255, 255, .3);
}
/* 小米向导样式start */
.content_sub {
  margin-top: 18px;
  overflow: hidden;
}
.content_sub .content_channel {
  float: left;
  width: 234px;
}
.content_sub .content_channel>ul {
  background: #5f5750;
  font-size: 12px;
  text-align: center;
}
.content_sub .content_channel>ul>li {
  float: left;
  width: 33.33%;
  height: 85px;
}
.content_sub .content_channel>ul>li>a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 18px;
}
.content_sub .content_channel>ul>li i {
  display: block;
  font-size: 25px;
}
.content_sub .content_list {
  float: left;
  width: 992px;
}
.content_sub .content_list ul {
  width: 100%;
}
.content_sub .content_list ul li {
  float: left;
  width: 33.33%;
  text-align: right;
}
.content_sub .content_list ul li a {
  display: block;
  height: 170px;
}
.content_sub .content_list ul li a img {
  width: 316px;
  height: 170px;
}
/* 小米向导样式end */
.content_banner {
  margin-top: 18px;
}
.content_banner a {
  display: block;
  width: 1226px;
  height: 120px;
}
.content_banner a img {
  width: 1226px;
  height: 120px;
}
/* 小米站点内容end */

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
